@use '../utils' as *;

.card {
  position: relative;

  @include flex-container(column);

  padding: rem(30) 0;

  background-color: var(--clr-card);

  text-align: center;
  border-radius: 5px;

  &:hover {
    background-color: var(--clr-card-hover);
  }

  &__platform {
    @include flex-container();
    gap: rem(10);

    margin-bottom: rem(30);
  }

  &__icon {
    width: 22px;
    height: 22px;
  }

  &__username {
    font-size: var(--fs-14);
    font-weight: var(--fw-bold);
  }

  &__followers {
    @include flex-container(column);

    gap: rem(10);

    margin-bottom: rem(20);
  }

  &__count {
    font-weight: var(--fw-bold);
    color: var(--clr-text-secondary);
  }

  &__count--big {
    font-size: var(--fs-44);
  }

  &__label {
    font-size: var(--fs-14);
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  &__change {
    @include flex-container();
    gap: rem(5);
  }

  &__change--up {
    color: var(--clr-limegreen);
  }

  &__change--down {
    color: var(--clr-brightred);
  }

  &__number {
    font-weight: var(--fw-bold);
    font-size: var(--fs-12);
  }

  &--facebook {
    border-top: 5px solid var(--clr-facebook);
  }

  &--twitter {
    border-top: 5px solid var(--clr-twitter);
  }

  &--instagram {
    overflow: hidden;

    &::after {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 5px;

      background: linear-gradient(to left, var(--clr-instagram-start), var(--clr-instagram-end));
    }
  }

  &--youtube {
    border-top: 5px solid var(--clr-youtube);
  }
}
