@use '../utils' as *;

.header {
  position: relative;

  padding: rem(40) 0;

  background-color: var(--clr-header-bg);

  &::after {
    content: '';

    position: absolute;
    top: rem(110);
    left: 0;
    z-index: -1;

    display: block;

    width: 100%;
    height: rem(110);

    background-color: var(--clr-header-bg);

    @include breakpoint-down(small) {
      display: none;
    }

  }

  .container {
    @include flex-container();
    justify-content: space-between;

    @include breakpoint-down(small) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__logo {
    @include breakpoint-down(small) {
      padding-bottom: rem(20);
      margin-bottom: rem(20);

      width: 100%;

      border-bottom: 1px solid var(--clr-text-primary);
    }

  }

  &__logo > h1 {
    margin-bottom: rem(5);

    font-size: var(--fs-24);
    color: var(--clr-text-secondary);
    font-weight: var(--fw-bold);
  }

  &__logo > span {
    color: var(--clr-text-primary);
    font-size: var(--fs-14);
    font-weight: var(--fw-bold);
  }
}


