@media (prefers-color-scheme: dark) {
  :root {
    --clr-body-bg: var(--clr-dark-bg);
    --clr-text-primary: var(--clr-dark-text-primary);
    --clr-text-secondary: var(--clr-dark-text-secondary);
    --clr-card: var(--clr-dark-card);
    --clr-card-hover: var(--clr-dark-card-hover);
    --clr-toggle-bg: linear-gradient(
                    225deg,
                    var(--toggle-bg-end) 0%,
                    var(--toggle-bg-start) 98.02%
    );;
    --clr-toggle-btn: var(--clr-light-toggle-btn);
  }
}

body {
  --clr-body-bg: var(--clr-light-bg);
  --clr-header-bg: var(--clr-light-top-bg);
  --clr-text-primary: var(--clr-light-text-primary);
  --clr-text-secondary: var(--clr-light-text-secondary);
  --clr-card: var(--clr-light-card);
  --clr-card-hover: var(--clr-light-card-hover);
  --clr-toggle: var(--clr-light-toggle-bg);
  --clr-toggle-btn: var(--clr-light-bg);
}

body.light {
  --clr-body-bg: var(--clr-light-bg);
  --clr-header-bg: var(--clr-light-top-bg);
  --clr-text-primary: var(--clr-light-text-primary);
  --clr-text-secondary: var(--clr-light-text-secondary);
  --clr-card: var(--clr-light-card);
  --clr-card-hover: var(--clr-light-card-hover);
  --clr-toggle: var(--clr-light-toggle-bg);
  --clr-toggle-btn: var(--clr-light-bg);
}

body.dark {
  --clr-body-bg: var(--clr-dark-bg);
  --clr-header-bg: var(--clr-dark-top-bg);
  --clr-text-primary: var(--clr-dark-text-primary);
  --clr-text-secondary: var(--clr-dark-text-secondary);
  --clr-card: var(--clr-dark-card);
  --clr-card-hover: var(--clr-dark-card-hover);
  --clr-toggle-bg: linear-gradient(
                  225deg,
                  var(--toggle-bg-end) 0%,
                  var(--toggle-bg-start) 98.02%
  );;
  --clr-toggle-btn: var(--clr-light-toggle-btn);
}
